[package]
name = "crate_wide_allow"
version = "4.1.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for `#![allow(...)]` used at the crate level"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "ui"
path = "ui/main.rs"

[dependencies]
clippy_utils = { workspace = true }

dylint_linting = { path = "../../../utils/linting" }

[target.'cfg(not(no_dev_dependencies))'.dev-dependencies]
assert_cmd = "2.0"
predicates = "3.1"

dylint_internal = { path = "../../../internal", features = ["testing"] }
dylint_testing = { path = "../../../utils/testing" }

[features]
rlib = ["dylint_linting/constituent"]

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
