[package]
name = "crate_wide_allow"
version = "2.0.9"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for `#![allow(...)]` used at the crate level"
edition = "2018"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "ui"
path = "ui/main.rs"

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "3c7e7dbc1583a0b06df5bd7623dd354a4debd23d" }
if_chain = "1.0.2"

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
assert_cmd = "2.0.4"
cargo_metadata = "0.15.0"
lazy_static = "1.4.0"

dylint_internal = { path = "../../../internal" }
dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]
