version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: "03:00"

  - package-ecosystem: cargo
    directories:
      - /
      - /driver
      - /examples/experimental/*
      - /examples/general
      - /examples/restriction
      - /examples/supplementary
      - /examples/testing
      - /utils/linting
    groups:
      rust:
        patterns:
          - "*"
    schedule:
      interval: weekly
      day: sunday
      time: "03:00"
    allow:
      - dependency-type: direct
