version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: "03:00"
    open-pull-requests-limit: 10

  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: "03:00"
    open-pull-requests-limit: 10

  - package-ecosystem: cargo
    directory: /driver
    schedule:
      interval: weekly
      day: sunday
      time: "03:00"
    open-pull-requests-limit: 10

  # smoelius: It would be nice to include the examples as well. But this issue suggests they cannot
  # be included in the obvious way: https://github.com/dependabot/dependabot-core/issues/2178
