[package]
name = "non_thread_safe_call_in_test"
version = "5.0.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for non-thread-safe function calls in tests"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "interprocedural"
path = "ui/interprocedural.rs"

[[example]]
name = "one_test"
path = "ui/one_test.rs"

[[example]]
name = "set_current_dir"
path = "ui/set_current_dir.rs"

[dependencies]
clippy_utils = { workspace = true }

dylint_internal = { path = "../../../internal", features = ["match_def_path"] }
dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[features]
rlib = ["dylint_linting/constituent"]

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
