[package]
name = "non_thread_safe_call_in_test"
version = "2.1.7"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for non-thread-safe function calls in tests"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "interprocedural"
path = "ui_late/interprocedural.rs"

[[example]]
name = "one_test"
path = "ui_late/one_test.rs"

[[example]]
name = "set_current_dir"
path = "ui_late/set_current_dir.rs"

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "991610a9ecb6a9f905238d13ac45613ffe7b7daf" }
if_chain = "1.0"

dylint_internal = { path = "../../../internal" }
dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]
