[package]
name = "missing_doc_comment_llm"
version = "5.0.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint that suggests doc comments using an LLM"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "20ce69b9a63bcd2756cd906fe0964d1e901e042a" }
# smoelius: Commit 438e029 is a bug fix. See: https://github.com/majiayu000/litellm-rs/pull/3
litellm-rs = { git = "https://github.com/majiayu000/litellm-rs", rev = "438e02998f63efa904f93b1924e87073070399b0", default-features = false, features = [
    "redis",
] }
serde = "1.0"
serde_json = "1.0"
tokio = { version = "1", features = ["rt", "macros"] }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[lints.rust.unexpected_cfgs]
level = "deny"
check-cfg = ["cfg(dylint_lib, values(any()))"]

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../general" },
    { path = "../../supplementary" },
    { path = "../../testing/clippy" },
    { path = "../../restriction/*" },
]
