[package]
name = "escaping_doc_link"
version = "3.1.2"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for doc comment links that escape their packages"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cargo-util = "0.2"
clippy_utils = { workspace = true }
pulldown-cmark = "0.10"

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[features]
rlib = ["dylint_linting/constituent"]

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
