[package]
name = "unnamed_constant"
version = "3.4.1"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for unnamed constants, aka magic numbers"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
clippy_utils = { workspace = true }
serde = { workspace = true }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[features]
rlib = ["dylint_linting/constituent"]

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
