[workspace]
members = [
    "assert_eq_arg_misordering",
    "collapsible_unwrap",
    "const_path_join",
    "env_literal",
    "inconsistent_qualification",
    "misleading_variable_name",
    "question_mark_in_expression",
    "ref_aware_redundant_closure_for_method_calls",
    "suboptimal_pattern",
    "try_io_result",
]
resolver = "2"

[workspace.dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "9725c4a162502a02c1c67fdca6b797fe09b2b73c" }

[workspace.metadata.dylint]
libraries = [
    { path = "../general" },
    { path = "../supplementary" },
    { path = "../testing/clippy" },
    { path = "../restriction/*" },
    { path = "../experimental/overscoped_allow" },
]
