[package]
name = "unnecessary_conversion_for_trait"
version = "2.0.14"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for unnecessary trait-behavior-preserving calls"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "general"
path = "ui/general.rs"

[[example]]
name = "unnecessary_to_owned"
path = "ui/unnecessary_to_owned.rs"

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "e43f5a17d4d9263616ae6fc28a7c5353e80d8a12" }
if_chain = "1.0.2"

dylint_internal = { path = "../../../internal", features = ["cargo"] }
dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
tempfile = "3.3.0"

dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]
