[package]
name = "collapsible_unwrap"
version = "5.0.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for an `unwrap` that could be combined with an `expect` or `unwrap` using `and_then`"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "ui"
path = "ui/main.rs"

[dependencies]
clippy_utils = { workspace = true }
heck = { workspace = true }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
toml = { workspace = true }

dylint_testing = { path = "../../../utils/testing" }

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
