[package]
name = "question_mark_in_expression"
version = "2.1.10"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for the `?` operator in expressions"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "assign_op"
path = "ui/assign_op.rs"

[[example]]
name = "clone"
path = "ui/clone.rs"

[[example]]
name = "ls"
path = "ui/ls.rs"

[[example]]
name = "non-empty"
path = "ui/non-empty.rs"

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "30448e8cf98d4754350db0c959644564f317bc0f" }
if_chain = "1.0"

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
git2 = "0.16"
tempfile = "3.6"

dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]
