[package]
name = "question_mark_in_expression"
version = "5.0.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for the `?` operator in expressions"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "assign"
path = "ui/assign.rs"

[[example]]
name = "clone"
path = "ui/clone.rs"

[[example]]
name = "ls"
path = "ui/ls.rs"

[[example]]
name = "non-empty"
path = "ui/non-empty.rs"

[dependencies]
clippy_utils = { workspace = true }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
git2 = { workspace = true }
tempfile = { workspace = true }

dylint_testing = { path = "../../../utils/testing" }

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
