[package]
name = "question_mark_in_expression"
version = "2.0.10"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for the `?` operator in expressions"
edition = "2018"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "clone"
path = "ui/clone.rs"

[[example]]
name = "ls"
path = "ui/ls.rs"

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "3c7e7dbc1583a0b06df5bd7623dd354a4debd23d" }
if_chain = "1.0.2"

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
git2 = "0.14.4"
tempfile = "3.3.0"

dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]
