[package]
name = "non_local_effect_before_error_return"
version = "2.2.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for non-local effects before return of an error"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "ui"
path = "ui/main.rs"

[dependencies]
clippy_utils = { workspace = true }
if_chain = "1.0"
serde = { version = "1.0", features = ["derive"] }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
bitflags = "2.4"
once_cell = "1.18"

dylint_testing = { path = "../../../utils/testing" }

[features]
rlib = ["dylint_linting/constituent"]

[package.metadata.rust-analyzer]
rustc_private = true
