[package]
name = "non_local_effect_before_error_return"
version = "3.4.1"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for non-local effects before return of an error"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "ui"
path = "ui/main.rs"

[[example]]
name = "ui_public_only"
path = "ui_public_only/main.rs"

[dependencies]
clippy_utils = { workspace = true }
serde = { workspace = true, features = ["derive"] }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
bitflags = { workspace = true }
derivative = { workspace = true }
once_cell = { workspace = true }

dylint_testing = { path = "../../../utils/testing" }

[features]
rlib = ["dylint_linting/constituent"]

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
