[package]
name = "basic_dead_store"
version = "5.0.0"
authors = ["Filipe Casal <fcasal@users.noreply.github.com>"]
description = "A lint to find simple instances of dead stores in arrays"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
clippy_utils = { workspace = true }
dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[features]
rlib = ["dylint_linting/constituent"]

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
