[package]
name = "wrong_serialize_struct_arg"
version = "5.0.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for calls to serialization methods with incorrect `len` arguments"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "ui"
path = "ui/main.rs"

[dependencies]
clippy_utils = { workspace = true }

dylint_internal = { path = "../../../internal", features = ["match_def_path"] }
dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
serde = { workspace = true }
serde_json = { workspace = true }

dylint_testing = { path = "../../../utils/testing" }

[features]
rlib = ["dylint_linting/constituent"]

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
