[package]
name = "cargo-dylint"
version = "2.1.1"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A tool for running Rust lints from dynamic libraries"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/dylint"

[dependencies]
anyhow = "1.0.66"
clap = { version = "4.0.27", features = ["cargo", "derive", "wrap_help"] }
env_logger = "0.9.3"

dylint = { version = "=2.1.1", path = "../dylint", features = ["package_options"] }
dylint_internal = { version = "=2.1.1", path = "../internal" }

[dev-dependencies]
assert_cmd = "2.0.6"
cargo_metadata = "0.15.2"
glob = "0.3.0"
lazy_static = "1.4.0"
log = "0.4.17"
predicates = "2.1.3"
regex = "1.7.0"
sedregex = "0.2.5"
semver = "1.0.14"
tempfile = "3.3.0"
test-log = "0.2.11"
walkdir = "2.3.2"

dylint_internal = { version = "=2.1.1", path = "../internal", features = ["testing"] }
