[package]
name = "cargo-dylint"
version = "1.0.5"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A tool for running Rust lints from dynamic libraries"
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/dylint"

[dependencies]
anyhow = "1.0.44"
clap = "3.0.0-beta.4"
env_logger = "0.9.0"

dylint = { version = "=1.0.5", path = "../dylint", features = ["dylint_driver_local", "package_options"] }
dylint_internal = { version = "=1.0.5", path = "../internal", features = ["git2"] }

[dev-dependencies]
assert_cmd = "2.0.1"
cargo_metadata = "0.14.0"
lazy_static = "1.4.0"
log = "0.4.14"
predicates = "2.0.3"
regex = "1.5.4"
semver = "1.0.4"
tempfile = "3.2.0"
test-env-log = "0.2.7"
