[package]
name = "dylint_examples"
version = "0.1.0-pre.2"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "Example Dylint libraries"
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/dylint"

[dependencies]
anyhow = "1.0.38"

dylint_building = { version = "=0.1.0-pre.2", path = "../building" }
dylint_env = { version = "=0.1.0-pre.2", path = "../env" }
