[package]
name = "examples"
version = "2.1.3"
description = "A dummy package for testing the example Dylint libraries"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[dev-dependencies]
cargo_metadata = "0.15"

dylint_internal = { version = "=2.1.3", path = "../internal", features = ["clippy_utils", "examples"] }
