[package]
name = "redundant_reference"
version = "2.1.5"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for reference fields used only to read one copyable subfield"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "1480cea393d0cee195e59949eabdfbcf1230f7f9" }
if_chain = "1.0"
serde = { version = "1.0", features = ["derive"] }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]
