[package]
name = "straggler"
version = "2.0.9"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint that uses an old toolchain for testing purposes"
edition = "2018"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
# smoelius: `straggler` is intentionally held back for testing purposes.
# smoelius: `straggler` doesn't really use `clippy_utils`.
# clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "0cb0f7636851f9fcc57085cf80197a2ef6db098f" }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]

