[package]
name = "straggler"
version = "3.5.1"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint that uses an old toolchain for testing purposes"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
# smoelius: `straggler` is intentionally held back for testing purposes.
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "ff4a26d442bead94a4c96fb1de967374bc4fbd8e" }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[lints.rust.unexpected_cfgs]
level = "deny"
check-cfg = ["cfg(dylint_lib, values(any()))"]

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = []
