[package]
name = "inconsistent_qualification"
version = "5.0.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for inconsistent qualification of module items"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "ui"
path = "ui/main.rs"

[dependencies]
clippy_utils = { workspace = true }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
diesel = { workspace = true }

dylint_testing = { path = "../../../utils/testing" }

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
