[package]
name = "inconsistent_qualification"
version = "2.0.15"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for inconsistent qualification of module items"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "e43f5a17d4d9263616ae6fc28a7c5353e80d8a12" }
if_chain = "1.0.2"

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]
