[package]
name = "misleading_variable_name"
version = "5.0.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for variables whose names suggest they have types other than the ones they have"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "ui"
path = "ui/main.rs"

[dependencies]
clippy_utils = { workspace = true }
heck = { workspace = true }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
anyhow = { workspace = true }
cargo_metadata = { workspace = true }

dylint_testing = { path = "../../../utils/testing" }

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
