[package]
name = "unnecessary_conversion_for_trait"
version = "5.0.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for unnecessary trait-behavior-preserving calls"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[[example]]
name = "general"
path = "ui/general.rs"

[[example]]
name = "unnecessary_to_owned"
path = "ui/unnecessary_to_owned.rs"

[[example]]
name = "vec"
path = "ui/vec.rs"

[dependencies]
clippy_utils = { workspace = true }

dylint_internal = { path = "../../../internal", features = [
    "cargo",
    "match_def_path",
] }
dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
tempfile = { workspace = true }

dylint_testing = { path = "../../../utils/testing" }

[features]
rlib = ["dylint_linting/constituent"]

[lints]
workspace = true

[package.metadata.rust-analyzer]
rustc_private = true
