[package]
name = "redundant_reference"
version = "2.0.10"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for reference fields used only to read one copyable subfield"
edition = "2018"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "3c7e7dbc1583a0b06df5bd7623dd354a4debd23d" }
if_chain = "1.0.2"

dylint_internal = { path = "../../../internal" }
dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]
