[package]
name = "missing_doc_comment_openai"
version = "2.1.5"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint that suggests doc comments using OpenAI"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "1480cea393d0cee195e59949eabdfbcf1230f7f9" }
curl = "0.4"
serde = "1.0"
serde_json = "1.0"

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../*/*" },
]
