[package]
name = "dylint_internal"
version = "2.0.0"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "Dylint internals"
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/dylint"

[dependencies]
ansi_term = "0.12.1"
anyhow = "1.0.57"
cargo_metadata = "0.14.2"
git2 = { version = "0.13.25", optional = true }
if_chain = "1.0.2"
log = "0.4.16"
sedregex = "0.2.5"
