[package]
name = "dylint_internal"
version = "2.1.10"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "Dylint internals"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trailofbits/dylint"

[dependencies]
anyhow = "1.0"
if_chain = "1.0"

ansi_term = { version = "0.12", optional = true }
atty = { version = "0.2", optional = true }
cargo_metadata = { version = "0.15", optional = true }
ctor = { version = "0.2", optional = true }
env_logger = { version = "0.10", optional = true }
git2 = { version = "0.16", optional = true }
home = { version = "0.5", optional = true }
log = { version = "0.4", optional = true }
rust-embed = { version = "6.6", features = ["include-exclude"], optional = true }
sedregex = { version = "0.2", optional = true }
semver = { version = "1.0", optional = true }
toml_edit = { version = "0.19", optional = true }
walkdir = { version = "2.3", optional = true }

[dev-dependencies]
toml_edit = "0.19"

[features]
cargo = ["ansi_term", "atty", "cargo_metadata", "command", "home"]
clippy_utils = ["semver", "toml_edit"]
command = ["log"]
examples = ["cargo", "rustup", "walkdir"]
git = ["git2"]
packaging = ["cargo", "rust-embed"]
rustup = ["command"]
sed = ["sedregex"]
testing = ["ctor", "env_logger", "packaging"]
