name: Coverage

on:
  schedule:
    - cron: "0 3 * * 2" # 2 = Tuesday
  workflow_dispatch:

concurrency:
  group: coverage-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.SSH_KEY }}

      - name: Rustup
        run: rustup update

      - name: Install dylint-link
        run: cargo install --path ./dylint-link

      - name: Install cargo-llvm-cov and rustfilt
        run: |
          cargo install cargo-llvm-cov
          cargo install rustfilt

      - name: Free up space on Ubuntu
        run: |
          # https://github.com/actions/runner-images/issues/2606#issuecomment-772683150
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          # du -sh /usr/*/* 2>/dev/null | sort -h || true

      - name: Preinstall toolchains
        run: cargo run -p dylint_internal --bin preinstall-toolchains

      - name: Coverage
        run: |
          for X in . driver utils/linting; do
            pushd "$X"
            TMP="$(mktemp)"
            cargo llvm-cov --coverage-target-only --target x86_64-unknown-linux-gnu --workspace --failure-mode all --lcov --output-path "$TMP"
            rustfilt -i "$TMP" -o lcov.info
            popd
          done

      - name: Install lcov
        run: sudo apt install lcov

      - name: Generate html
        run: find . -name lcov.info -print0 | xargs -0 genhtml --output-directory coverage

      - name: Push to gh-pages branch
        run: |
          git add coverage
          git config --global user.email "coverage@users.noreply.github.com"
          git config --global user.name "coverage"
          git commit -m Coverage
          git push origin ${{ github.ref }}:gh-pages --force
