[package]
name = "suboptimal_pattern"
version = "2.4.1"
authors = ["Samuel E. Moelius III <sam@moeli.us>"]
description = "A lint to check for patterns that could perform additional destructuring"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "080b587854a73f2a8cbaecff1884860a78e2ff37" }
if_chain = "1.0"
serde = { version = "1.0", features = ["derive"] }

dylint_linting = { path = "../../../utils/linting" }

[dev-dependencies]
dylint_testing = { path = "../../../utils/testing" }

[package.metadata.rust-analyzer]
rustc_private = true

[workspace]

[workspace.metadata.dylint]
libraries = [
    { path = "../../general" },
    { path = "../../supplementary" },
    { path = "../../testing/clippy" },
    { path = "../../restriction/*" },
]
